.elementor-kit-5{--e-global-color-primary:#6EC1E4;--e-global-color-secondary:#54595F;--e-global-color-text:#7A7A7A;--e-global-color-accent:#61CE70;--e-global-color-14547c9:#003A57;--e-global-color-ec88df3:#00B27F;--e-global-color-bcd643c:#FFFFFF;--e-global-color-81c1ee5:#54C38A;--e-global-color-bc8d98c:#4B5F5F;--e-global-color-f55a2fc:#F9FAFA;--e-global-color-da6fd8b:#EBEBEB;--e-global-typography-primary-font-weight:600;--e-global-typography-secondary-font-family:"Montserrat";--e-global-typography-secondary-font-weight:400;--e-global-typography-text-font-family:"Montserrat";--e-global-typography-text-font-weight:400;--e-global-typography-accent-font-family:"Montserrat";--e-global-typography-accent-font-weight:500;font-size:14px;}.elementor-kit-5 a{color:var( --e-global-color-ec88df3 );}.elementor-kit-5 h1{color:var( --e-global-color-bcd643c );font-family:"Nexa", Sans-serif;font-size:40px;font-weight:500;text-transform:uppercase;line-height:1.2em;}.elementor-kit-5 h2{color:var( --e-global-color-14547c9 );font-family:"Nexa", Sans-serif;font-size:40px;font-weight:700;line-height:1.2em;}.elementor-kit-5 h3{color:var( --e-global-color-14547c9 );font-family:"Nexa", Sans-serif;font-size:35px;font-weight:500;line-height:1.2em;}.elementor-kit-5 h5{font-family:"Nexa", Sans-serif;line-height:1.2em;}.elementor-kit-5 h6{font-family:"Nexa", Sans-serif;}.elementor-kit-5 button,.elementor-kit-5 input[type="button"],.elementor-kit-5 input[type="submit"],.elementor-kit-5 .elementor-button{font-family:"Nexa", Sans-serif;font-weight:700;color:var( --e-global-color-bcd643c );background-color:var( --e-global-color-14547c9 );border-radius:.2em .2em .2em .2em;padding:14px 16px 10px 16px;}.elementor-kit-5 button:hover,.elementor-kit-5 button:focus,.elementor-kit-5 input[type="button"]:hover,.elementor-kit-5 input[type="button"]:focus,.elementor-kit-5 input[type="submit"]:hover,.elementor-kit-5 input[type="submit"]:focus,.elementor-kit-5 .elementor-button:hover,.elementor-kit-5 .elementor-button:focus{background-color:var( --e-global-color-ec88df3 );}.elementor-section.elementor-section-boxed > .elementor-container{max-width:1140px;}.e-con{--container-max-width:1140px;}.elementor-widget:not(:last-child){margin-bottom:20px;}.elementor-element{--widgets-spacing:20px;}{}h1.entry-title{display:var(--page-title-display);}.elementor-kit-5 e-page-transition{background-color:#FFBC7D;}.site-header{padding-right:0px;padding-left:0px;}.site-header .site-branding .site-logo img{width:100%;max-width:100%;}@media(max-width:1024px){.elementor-kit-5 h1{font-size:28px;}.elementor-section.elementor-section-boxed > .elementor-container{max-width:1024px;}.e-con{--container-max-width:1024px;}}@media(max-width:767px){.elementor-section.elementor-section-boxed > .elementor-container{max-width:767px;}.e-con{--container-max-width:767px;}}/* Start Custom Fonts CSS */@font-face {
	font-family: 'Nexa';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('https://unguess.io/wp-content/uploads/2022/12/Nexa-Regular.woff') format('woff');
}
@font-face {
	font-family: 'Nexa';
	font-style: normal;
	font-weight: bold;
	font-display: auto;
	src: url('https://unguess.io/wp-content/uploads/2022/12/Nexa-Bold.woff') format('woff');
}
@font-face {
	font-family: 'Nexa';
	font-style: normal;
	font-weight: 100;
	font-display: auto;
	src: url('https://unguess.io/wp-content/uploads/2022/12/Nexa-Light.woff') format('woff');
}
@font-face {
	font-family: 'Nexa';
	font-style: normal;
	font-weight: 400;
	font-display: auto;
	src: url('https://unguess.io/wp-content/uploads/2022/12/Nexa-Book.woff') format('woff');
}
@font-face {
	font-family: 'Nexa';
	font-style: normal;
	font-weight: 800;
	font-display: auto;
	src: url('https://unguess.io/wp-content/uploads/2022/12/Nexa-Heavy.woff') format('woff');
}
@font-face {
	font-family: 'Nexa';
	font-style: normal;
	font-weight: 900;
	font-display: auto;
	src: url('https://unguess.io/wp-content/uploads/2022/12/Nexa-Black.woff') format('woff');
}
/* End Custom Fonts CSS */